body{
	background-color: #ededed;
}

input{
	display: block; 
	width:100%; 
	font-size: 5vw; 
	margin-left: auto; 
	margin-right: auto;
	border:none;
	color:#757575;	
    text-align: center;
}

#container {
	display: block;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}

/*button*/
#add, #minus, #multiply, #division, #clean {
	width: 24%; 
	color:#757575;
}

#clean{
	width: 100%;
}


h1, button {
	font-size: 3vw;
    height: 5vw;
    color:#757575;	
    text-align: center;
}


/********** Large devices only **********/
@media (min-width: 1200px) {

    #container {
	width: 50%;
    }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

    #container {
	width: 50%;
    }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
	#container {
	width: 50%;
    }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {

	#container {
	width: 90%;
    }
    
    #division{
    	width:23%;
    }

    h1, button{
    	font-size:5vw;
    	height: 7vw;
    }
}
