body{
	background-color: #ededed;
}

input{
	display: block; 
	width:80%; 
	font-size: 5vw; 
	margin-left: auto; 
	margin-right: auto;
	border:none;
	color:#757575;	
}

#container {
	display: block;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}

h1{
	text-align: center;
	color:#757575;
}

button{
	width: 19.5%; 
	color:#757575;
}

h1, button {
	font-size: 3vw;
    height: 5vw;
}

.leftmarg{
margin-left: 10%
}

.clean{
	width: 80%;
}