body{
	background-color: #eaeaea;
}

input{
	display: block; 
	width:80%; 
	font-size: 10vw; 
	margin-left: auto; 
	margin-right: auto;
	border:none;
}

#container {
	display: block;
<<<<<<< HEAD
	width: 95%;
=======
	width: 90%;
>>>>>>> 4c2f0fb02102a4b44b3c0d115314cf2b5b77d7b1
	margin-right: auto;
	margin-left: auto;
}

h1{
	text-align: center;
	font-size: 5vw; 
}

button{
	width: 19.5%; 
	height: 10vw;
}

#addition{
margin-left: 10%
}
